.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: #5089e7;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b82f6;
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.navLink {
  color: #4b5563;
  text-decoration: none;
}

.navLink:hover {
  color: #3b82f6;
}

.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("C:\Users\Balram Shukla\Desktop\Market Place\Frontend\src\assets\jobBg.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 100%;
  margin: 20px;
  border: 2px solid;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #1f2937;
}

.optionsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.option {
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: transform 0.3s ease;
}

.option:hover {
  transform: translateY(-5px);
}

.option h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.findJob {
  background-color: #3b82f6;
}

.salaryGuide {
  background-color: #10b981;
}

.applyGuide {
  background-color: #8b5cf6;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 1rem;
}

.userBox {
  width: 250px;
  background-color: #93c6c6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  border: 2px solid;
  top: 67px;
}

.divider {
  border-top: 1px solid #332;
  margin: 10px 0;
}

.profile {
  padding: 2px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  cursor: pointer;
}

.profile:hover {
  background-color: rgb(215, 234, 240);
}

@media (max-width: 768px) {
  .optionsGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .nav {
    justify-content: space-around;
  }

  .userBox {
    right: 5px;
    border: 2px solid;
    top: 70px;
  }
}